@font-face {
  font-family: 'iconfont';
  src: url('~@/static/iconfont/iconfont.eot');
  src: url('~@/static/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('~@/static/iconfont/iconfont.woff') format('woff'),
  url('~@/static/iconfont/iconfont.ttf') format('truetype'),
  url('~@/static/iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
}


.icon-cuo1:before {
  content: "\e646";
}

.icon-xiasanjiao:before {
  content: "\e641";
}

.icon-shuangsechangyongtubiao-:before {
  content: "\e607";
}

.icon-zhuanfa:before {
  content: "\e635";
}

.icon-lianjie:before {
  content: "\e620";
}

.icon-shipin:before {
  content: "\e640";
}

.icon-tupian:before {
  content: "\e615";
}

.icon-icon--:before {
  content: "\e66f";
}

.icon-yuyin:before {
  content: "\e634";
}

.icon-smiling:before {
  content: "\e63f";
}

.icon-tubiaozhizuomoban:before {
  content: "\e606";
}

.icon-richscan_icon:before {
  content: "\e66e";
}

.icon-chuangjianliucheng:before {
  content: "\e60d";
}

.icon-qun:before {
  content: "\e64f";
}

.icon-erweima:before {
  content: "\e63c";
}

.icon-right:before {
  content: "\e63a";
}

.icon-caidan:before {
  content: "\e609";
}

.icon-fenxiang:before {
  content: "\e608";
}

.icon-iconfontzhizuobiaozhun20:before {
  content: "\e613";
}

.icon-biaoqing:before {
  content: "\e603";
}

.icon-shuaxin:before {
  content: "\e62b";
}

.icon-clock:before {
  content: "\e6be";
}

.icon-ai37:before {
  content: "\e69a";
}

.icon-more:before {
  content: "\e637";
}

.icon-duigou:before {
  content: "\e60a";
}

.icon-cuo:before {
  content: "\e63e";
}

.icon-weibiaoti--:before {
  content: "\e616";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-tubiaozhizuo-:before {
  content: "\e605";
}

.icon-jiantou9:before {
  content: "\e60b";
}

.icon-shangjiantou:before {
  content: "\e61d";
}

.icon-htmal5icon25:before {
  content: "\e63d";
}

.icon-sousuo:before {
  content: "\e649";
}

.icon-svg:before {
  content: "\e6c4";
}

.icon-dingwei1:before {
  content: "\e602";
}

.icon-shouzhishi1:before {
  content: "\e6b5";
}

.icon-shouzhishi:before {
  content: "\e6b3";
}

.icon-shuizhibiaozhu:before {
  content: "\e6b2";
}

.icon-chakangengduo:before {
  content: "\e6b1";
}

.icon-dianzan:before {
  content: "\e6aa";
}

.icon-chakan:before {
  content: "\e6ab";
}

.icon-pinglun:before {
  content: "\e6ac";
}

.icon-weizhilei1:before {
  content: "\e6a4";
}

.icon-weizhilei2:before {
  content: "\e6a5";
}

.icon-weizhilei3:before {
  content: "\e6a6";
}

.icon-weizhilei4:before {
  content: "\e6a7";
}

.icon-weizhilei5:before {
  content: "\e6a8";
}

.icon-weizhilei6:before {
  content: "\e6a9";
}

.icon-zixun1:before {
  content: "\e773";
}

.icon-back:before {
  content: "\e687";
}

.icon-x:before {
  content: "\e73e";
}

.icon-xiaoshishuizhiqingkuangguangbiao:before {
  content: "\e6a2";
}

.icon-hehuwenti2:before {
  content: "\e6a1";
}

.icon-shuiyuanxian:before {
  content: "\e6a0";
}

.icon-xinbannianbao:before {
  content: "\e69f";
}

.icon-xinbanyuebao1:before {
  content: "\e69d";
}

.icon-xinbanzhoubao1:before {
  content: "\e69c";
}

.icon-xinbanribao:before {
  content: "\e697";
}

.icon-xinbanhehuwenti:before {
  content: "\e689";
}

.icon-xinbanfaqirenwu:before {
  content: "\e68a";
}

.icon-xinbanjiajirenwu:before {
  content: "\e68b";
}

.icon-xinbanwodebiji:before {
  content: "\e68c";
}

.icon-xinbanwodegaojing:before {
  content: "\e68d";
}

.icon-xinbanwodejianbao:before {
  content: "\e68e";
}

.icon-xinbanwoderenwu:before {
  content: "\e68f";
}

.icon-xinbanwodetousu:before {
  content: "\e690";
}

.icon-xinbanwodexunherizhi:before {
  content: "\e691";
}

.icon-iosarrowforward:before {
  content: "\e71e";
}

.icon-leishuizhibiaozhu:before {
  content: "\e67a";
}

.icon-leishuizhiguangbiao:before {
  content: "\e67b";
}

.icon-leishuizhibiaozhu1:before {
  content: "\e67c";
}

.icon-leishuizhiguangbiao1:before {
  content: "\e67d";
}

.icon-leishuizhibiaozhu2:before {
  content: "\e67e";
}

.icon-leishuizhiguangbiao2:before {
  content: "\e67f";
}

.icon-leishuizhiguangbiao3:before {
  content: "\e681";
}

.icon-leishuizhibiaozhu3:before {
  content: "\e682";
}

.icon-leishuizhibiaozhu4:before {
  content: "\e683";
}

.icon-leishuizhiguangbiao4:before {
  content: "\e684";
}

.icon-leishuizhibiaozhu5:before {
  content: "\e685";
}

.icon-leishuizhiguangbiao5:before {
  content: "\e686";
}

.icon-riqi:before {
  content: "\e679";
}

.icon-shuoming:before {
  content: "\e678";
}

.icon-wodebiji:before {
  content: "\e66d";
}

.icon-lianxidianhua:before {
  content: "\e66c";
}

.icon-baojing:before {
  content: "\e663";
}

.icon-daihao:before {
  content: "\e664";
}

.icon-ditu:before {
  content: "\e665";
}

.icon-jingdu:before {
  content: "\e666";
}

.icon-dizhi:before {
  content: "\e667";
}

.icon-lianxiren:before {
  content: "\e668";
}

.icon-mingcheng:before {
  content: "\e669";
}

.icon-weidu:before {
  content: "\e66a";
}

.icon-yujing:before {
  content: "\e66b";
}

.icon-ribao:before {
  content: "\e660";
}

.icon-yuebao:before {
  content: "\e661";
}

.icon-zhoubao:before {
  content: "\e662";
}

.icon-gaojinggongzuo:before {
  content: "\e65a";
}

.icon-haiyuanxian:before {
  content: "\e65b";
}

.icon-hehuwenti1:before {
  content: "\e65c";
}

.icon-jiajirenwu1:before {
  content: "\e65d";
}

.icon-jiaobangongzuo:before {
  content: "\e65e";
}

.icon-xunherizhi:before {
  content: "\e65f";
}

.icon-wodexunherizhi:before {
  content: "\e653";
}

.icon-hehuwenti:before {
  content: "\e654";
}

.icon-jiajirenwu:before {
  content: "\e655";
}

.icon-wodejianbao:before {
  content: "\e656";
}

.icon-woderenwu:before {
  content: "\e657";
}

.icon-wodetousu:before {
  content: "\e658";
}

.icon-faqirenwu:before {
  content: "\e659";
}

.icon-wodegaojing:before {
  content: "\e652";
}

.icon-nianbao:before {
  content: "\e651";
}

.icon-bijiben_notebook:before {
  content: "\e632";
}

.icon-bianji:before {
  content: "\e604";
}

.icon-buggy:before {
  content: "\e680";
}

